### Case Study project for NoSQL

#### Import necessary libraries to work with Mongodb

In [1]:
import pymongo
import json
from pprint import pprint 
from datetime import datetime

#### Connect to local mongodb and output the connection status

In [2]:
client = pymongo.MongoClient("localhost", 27017)
client

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

#### Import a sample_analytics collection into local db (this is a one time activities)

In [3]:
#!"C:\Program Files\MongoDB\Tools\100\bin\mongoimport" --host localhost --port 27017 --db financial_analytics --collection accounts --file "./dataset/accounts.json"
#!"C:\Program Files\MongoDB\Tools\100\bin\mongoimport" --host localhost --port 27017 --db financial_analytics --collection customers --file "./dataset/customers.json"
#!"C:\Program Files\MongoDB\Tools\100\bin\mongoimport" --host localhost --port 27017 --db financial_analytics --collection transactions --file "./dataset/transactions.json"

#### Create a database financial_analytics and add three collection to the same, this are
- accounts
- customers
- transactions

In [4]:
finance_db = client["financial_analytics"]

    
accounts = finance_db["accounts"]
customers = finance_db["customers"]
transactions = finance_db["transactions"]

databases = client.list_database_names()
for dbs in databases:
    print(dbs)
    
print('========  financial_analytics Collections  ===========')
print(f"accounts count: {accounts.count_documents({})}")
print(f"customers count: {customers.count_documents({})}")
print(f"transactions count: {transactions.count_documents({})}")

admin
config
financial_analytics
local
========  financial_analytics Collections  ===========
accounts count: 1746
customers count: 500
transactions count: 1746

### Create index on following field to improve the search query

- Customers (Compound index on name and username)
- accounts (single index on limit)
- transactions (array index)

In [5]:
#create compound  index on customers
customers.create_index([("name",1),("username",1)]);

#create single field index on accounts
accounts.create_index([("limit",1)])

transactions.create_index([("transactions",1)])
#customers.create_index([("name", "text")])

'transactions_1'

### View default and custom index on the three collections

In [6]:
# Print the list of indexes
[print(index) for index in accounts.list_indexes()]
[print(index) for index in customers.list_indexes()]
[print(index) for index in transactions.list_indexes()]

SON([('v', 2), ('key', SON([('_id', 1)])), ('name', '_id_')])
SON([('v', 2), ('key', SON([('limit', 1)])), ('name', 'limit_1')])
SON([('v', 2), ('key', SON([('_id', 1)])), ('name', '_id_')])
SON([('v', 2), ('key', SON([('_fts', 'text'), ('_ftsx', 1)])), ('name', 'name_text'), ('weights', SON([('name', 1)])), ('default_language', 'english'), ('language_override', 'language'), ('textIndexVersion', 3)])
SON([('v', 2), ('key', SON([('name', 1), ('username', 1)])), ('name', 'name_1_username_1')])
SON([('v', 2), ('key', SON([('_id', 1)])), ('name', '_id_')])
SON([('v', 2), ('key', SON([('transactions', 1)])), ('name', 'transactions_1')])

[None, None]

### Display one record from accounts collection

In [7]:
[pprint(records) for records in finance_db.accounts.find().limit(1)]

{'_id': ObjectId('5ca4bbc7a2dd94ee5816238d'),
 'account_id': 557378,
 'limit': 10000,
 'products': ['InvestmentStock', 'Commodity', 'Brokerage', 'CurrencyService']}

[None]

### Display one record from customers collection

In [8]:
[pprint(records) for records in finance_db.customers.find().limit(1)]

{'_id': ObjectId('5ca4bbcea2dd94ee58162a68'),
 'accounts': [371138, 324287, 276528, 332179, 422649, 387979],
 'active': True,
 'address': '9286 Bethany Glens\nVasqueztown, CO 22939',
 'birthdate': datetime.datetime(1977, 3, 2, 2, 20, 31),
 'email': 'arroyocolton@gmail.com',
 'name': 'Elizabeth Ray',
 'tier_and_details': {'0df078f33aa74a2e9696e0520c1a828a': {'active': True,
                                                           'benefits': ['sports '
                                                                        'tickets'],
                                                           'id': '0df078f33aa74a2e9696e0520c1a828a',
                                                           'tier': 'Bronze'},
                      '699456451cc24f028d2aa99d7534c219': {'active': True,
                                                           'benefits': ['24 '
                                                                        'hour '
                                                                        'dedicated '
                                                                        'line',
                                                                        'concierge '
                                                                        'services'],
                                                           'id': '699456451cc24f028d2aa99d7534c219',
                                                           'tier': 'Bronze'}},
 'username': 'fmiller'}

[None]

### Display one record from transactions collection

In [9]:
[pprint(records) for records in finance_db.transactions.find().limit(1)]

{'_id': ObjectId('5ca4bbc1a2dd94ee58161cb1'),
 'account_id': 443178,
 'bucket_end_date': datetime.datetime(2017, 1, 3, 0, 0),
 'bucket_start_date': datetime.datetime(1969, 2, 4, 0, 0),
 'transaction_count': 66,
 'transactions': [{'amount': 7514,
                   'date': datetime.datetime(2003, 9, 9, 0, 0),
                   'price': '19.1072802650074180519368383102118968963623046875',
                   'symbol': 'adbe',
                   'total': '143572.1039112657392422534031',
                   'transaction_code': 'buy'},
                  {'amount': 9240,
                   'date': datetime.datetime(2016, 6, 14, 0, 0),
                   'price': '24.1525632387771480580340721644461154937744140625',
                   'symbol': 'team',
                   'total': '223169.6843263008480562348268',
                   'transaction_code': 'buy'},
                  {'amount': 2824,
                   'date': datetime.datetime(2002, 12, 4, 0, 0),
                   'price': '21.046193953245431629284212249331176280975341796875',
                   'symbol': 'msft',
                   'total': '59434.45172396509892109861539',
                   'transaction_code': 'buy'},
                  {'amount': 7418,
                   'date': datetime.datetime(2014, 7, 14, 0, 0),
                   'price': '76.38514540536692720706923864781856536865234375',
                   'symbol': 'sap',
                   'total': '566625.0086170118660220396123',
                   'transaction_code': 'sell'},
                  {'amount': 5638,
                   'date': datetime.datetime(2011, 10, 28, 0, 0),
                   'price': '28.365657608641175357888641883619129657745361328125',
                   'symbol': 'adbe',
                   'total': '159925.5775975189466677761629',
                   'transaction_code': 'buy'},
                  {'amount': 6774,
                   'date': datetime.datetime(2010, 12, 20, 0, 0),
                   'price': '45.3237971108758159743956639431416988372802734375',
                   'symbol': 'sap',
                   'total': '307023.4016290727774105562276',
                   'transaction_code': 'sell'},
                  {'amount': 7251,
                   'date': datetime.datetime(2015, 10, 28, 0, 0),
                   'price': '102.936674838205050264150486327707767486572265625',
                   'symbol': 'nflx',
                   'total': '746393.8292518248194653551764',
                   'transaction_code': 'sell'},
                  {'amount': 8828,
                   'date': datetime.datetime(2012, 2, 2, 0, 0),
                   'price': '17.838862313630283296106426860205829143524169921875',
                   'symbol': 'nflx',
                   'total': '157481.4765047281409380275363',
                   'transaction_code': 'buy'},
                  {'amount': 5585,
                   'date': datetime.datetime(2016, 3, 14, 0, 0),
                   'price': '22.645934804740733170547173358500003814697265625',
                   'symbol': 'team',
                   'total': '126477.5458844769947575059632',
                   'transaction_code': 'sell'},
                  {'amount': 5789,
                   'date': datetime.datetime(2012, 3, 1, 0, 0),
                   'price': '16.0804676963220600782733527012169361114501953125',
                   'symbol': 'nflx',
                   'total': '93089.82749400840579312443879',
                   'transaction_code': 'buy'},
                  {'amount': 7856,
                   'date': datetime.datetime(2001, 1, 4, 0, 0),
                   'price': '26.71098408678698632456871564500033855438232421875',
                   'symbol': 'adbe',
                   'total': '209841.4909857985645658118301',
                   'transaction_code': 'buy'},
                  {'amount': 8539,
                   'date': datetime.datetime(2015, 12, 14, 0, 0),
                   'price': '120.2002067302756387334738974459469318389892578125',
                   'symbol': 'nflx',
                   'total': '1026389.565269823679145133610',
                   'transaction_code': 'buy'},
                  {'amount': 4967,
                   'date': datetime.datetime(2016, 10, 5, 0, 0),
                   'price': '90.35066753097771652392111718654632568359375',
                   'symbol': 'sap',
                   'total': '448771.7656263663179743161891',
                   'transaction_code': 'buy'},
                  {'amount': 2893,
                   'date': datetime.datetime(2016, 9, 26, 0, 0),
                   'price': '30.227075585186970130280315061099827289581298828125',
                   'symbol': 'team',
                   'total': '87446.92966794590458690095147',
                   'transaction_code': 'buy'},
                  {'amount': 9559,
                   'date': datetime.datetime(1992, 7, 17, 0, 0),
                   'price': '19.83986843992497739463942707516252994537353515625',
                   'symbol': 'ibm',
                   'total': '189649.3024172428589153582834',
                   'transaction_code': 'sell'},
                  {'amount': 8269,
                   'date': datetime.datetime(1978, 2, 16, 0, 0),
                   'price': '13.2722697458426655003904670593328773975372314453125',
                   'symbol': 'ibm',
                   'total': '109748.3985283730010227287721',
                   'transaction_code': 'buy'},
                  {'amount': 8081,
                   'date': datetime.datetime(2016, 6, 1, 0, 0),
                   'price': '143.758609271150135100469924509525299072265625',
                   'symbol': 'ibm',
                   'total': '1161713.321520164241746897460',
                   'transaction_code': 'sell'},
                  {'amount': 6145,
                   'date': datetime.datetime(1986, 10, 23, 0, 0),
                   'price': '0.2800000011920928955078125',
                   'symbol': 'adbe',
                   'total': '1720.600007325410842895507812',
                   'transaction_code': 'sell'},
                  {'amount': 6973,
                   'date': datetime.datetime(2010, 10, 22, 0, 0),
                   'price': '21.268423447276756377277706633321940898895263671875',
                   'symbol': 'msft',
                   'total': '148304.7166978608222187574484',
                   'transaction_code': 'buy'},
                  {'amount': 3082,
                   'date': datetime.datetime(2016, 7, 28, 0, 0),
                   'price': '86.029571359374330086211557500064373016357421875',
                   'symbol': 'sap',
                   'total': '265143.1389295916853257040202',
                   'transaction_code': 'sell'},
                  {'amount': 2978,
                   'date': datetime.datetime(1988, 11, 18, 0, 0),
                   'price': '0.2432200014591217041015625',
                   'symbol': 'msft',
                   'total': '724.3091643452644348144531250',
                   'transaction_code': 'buy'},
                  {'amount': 9265,
                   'date': datetime.datetime(2002, 2, 20, 0, 0),
                   'price': '81.091017566265037430639495141804218292236328125',
                   'symbol': 'ibm',
                   'total': '751308.2777514455717948749225',
                   'transaction_code': 'buy'},
                  {'amount': 9192,
                   'date': datetime.datetime(2014, 8, 18, 0, 0),
                   'price': '74.557668636076840584792080335319042205810546875',
                   'symbol': 'sap',
                   'total': '685334.0901028183186554088024',
                   'transaction_code': 'buy'},
                  {'amount': 7408,
                   'date': datetime.datetime(1971, 11, 17, 0, 0),
                   'price': '12.4267172965691319319603280746378004550933837890625',
                   'symbol': 'ibm',
                   'total': '92057.12173298412935196211038',
                   'transaction_code': 'sell'},
                  {'amount': 3267,
                   'date': datetime.datetime(2011, 12, 23, 0, 0),
                   'price': '10.54898647579047832323340117000043392181396484375',
                   'symbol': 'nflx',
                   'total': '34463.53881640749268200352162',
                   'transaction_code': 'sell'},
                  {'amount': 7582,
                   'date': datetime.datetime(2012, 5, 24, 0, 0),
                   'price': '10.1614266582902761371087763109244406223297119140625',
                   'symbol': 'nflx',
                   'total': '77043.93692315687367155874199',
                   'transaction_code': 'buy'},
                  {'amount': 643,
                   'date': datetime.datetime(2012, 8, 20, 0, 0),
                   'price': '9.1583720360888047906655629049055278301239013671875',
                   'symbol': 'nflx',
                   'total': '5888.833219205101480397956948',
                   'transaction_code': 'sell'},
                  {'amount': 3129,
                   'date': datetime.datetime(2013, 3, 27, 0, 0),
                   'price': '74.33570821035419839972746558487415313720703125',
                   'symbol': 'sap',
                   'total': '232596.4309901982867927472398',
                   'transaction_code': 'buy'},
                  {'amount': 4075,
                   'date': datetime.datetime(2015, 10, 22, 0, 0),
                   'price': '45.37162592751771938992533250711858272552490234375',
                   'symbol': 'msft',
                   'total': '184889.3756546347065139457300',
                   'transaction_code': 'buy'},
                  {'amount': 4386,
                   'date': datetime.datetime(2016, 7, 21, 0, 0),
                   'price': '27.936906667695467376688611693680286407470703125',
                   'symbol': 'team',
                   'total': '122531.2726445123199141562509',
                   'transaction_code': 'sell'},
                  {'amount': 3093,
                   'date': datetime.datetime(1993, 12, 2, 0, 0),
                   'price': '2.978981080777631351708123474963940680027008056640625',
                   'symbol': 'adbe',
                   'total': '9213.988482845213770833225908',
                   'transaction_code': 'buy'},
                  {'amount': 5053,
                   'date': datetime.datetime(2011, 6, 1, 0, 0),
                   'price': '34.76661582629167668301306548528373241424560546875',
                   'symbol': 'adbe',
                   'total': '175675.7097702518422792650199',
                   'transaction_code': 'buy'},
                  {'amount': 1428,
                   'date': datetime.datetime(2010, 12, 1, 0, 0),
                   'price': '28.3197718777616813667918904684484004974365234375',
                   'symbol': 'nflx',
                   'total': '40440.63424144368099177881959',
                   'transaction_code': 'buy'},
                  {'amount': 7974,
                   'date': datetime.datetime(2002, 2, 5, 0, 0),
                   'price': '23.08480386999243449963614693842828273773193359375',
                   'symbol': 'msft',
                   'total': '184078.2260593196727000986357',
                   'transaction_code': 'sell'},
                  {'amount': 5363,
                   'date': datetime.datetime(2016, 10, 13, 0, 0),
                   'price': '27.9515663517458960996009409427642822265625',
                   'symbol': 'team',
                   'total': '149904.2503444132407821598463',
                   'transaction_code': 'sell'},
                  {'amount': 4050,
                   'date': datetime.datetime(2009, 4, 15, 0, 0),
                   'price': '35.82050501072183834594397922046482563018798828125',
                   'symbol': 'sap',
                   'total': '145073.0452934234453010731158',
                   'transaction_code': 'buy'},
                  {'amount': 7447,
                   'date': datetime.datetime(2013, 6, 28, 0, 0),
                   'price': '165.427301038519743769938941113650798797607421875',
                   'symbol': 'ibm',
                   'total': '1231937.110833856531854735294',
                   'transaction_code': 'buy'},
                  {'amount': 1586,
                   'date': datetime.datetime(1983, 5, 16, 0, 0),
                   'price': '23.801111434215950879433876252733170986175537109375',
                   'symbol': 'ibm',
                   'total': '37748.56273466649809478212774',
                   'transaction_code': 'buy'},
                  {'amount': 7124,
                   'date': datetime.datetime(2005, 3, 16, 0, 0),
                   'price': '36.91652269537627262252499349415302276611328125',
                   'symbol': 'sap',
                   'total': '262993.3076818605661628680537',
                   'transaction_code': 'buy'},
                  {'amount': 2940,
                   'date': datetime.datetime(1993, 3, 19, 0, 0),
                   'price': '11.3086767608907070581381049123592674732208251953125',
                   'symbol': 'ibm',
                   'total': '33247.50967701867875092602844',
                   'transaction_code': 'sell'},
                  {'amount': 2273,
                   'date': datetime.datetime(1993, 6, 18, 0, 0),
                   'price': '4.16809173919640141292575208353810012340545654296875',
                   'symbol': 'adbe',
                   'total': '9474.072523193420411580234486',
                   'transaction_code': 'buy'},
                  {'amount': 2342,
                   'date': datetime.datetime(1994, 6, 28, 0, 0),
                   'price': '12.5191271611065957358732703141868114471435546875',
                   'symbol': 'ibm',
                   'total': '29319.79581131164721341519908',
                   'transaction_code': 'buy'},
                  {'amount': 6380,
                   'date': datetime.datetime(2010, 9, 3, 0, 0),
                   'price': '41.865973826467524077088455669581890106201171875',
                   'symbol': 'sap',
                   'total': '267104.9130128628036118243472',
                   'transaction_code': 'sell'},
                  {'amount': 9598,
                   'date': datetime.datetime(1997, 9, 11, 0, 0),
                   'price': '5.39232880197155584056645238888449966907501220703125',
                   'symbol': 'adbe',
                   'total': '51755.57184132299295775681003',
                   'transaction_code': 'buy'},
                  {'amount': 4123,
                   'date': datetime.datetime(2016, 3, 9, 0, 0),
                   'price': '75.127503708197110654509742744266986846923828125',
                   'symbol': 'sap',
                   'total': '309750.6977888966872285436693',
                   'transaction_code': 'sell'},
                  {'amount': 2473,
                   'date': datetime.datetime(2008, 4, 17, 0, 0),
                   'price': '46.75625859046404997343415743671357631683349609375',
                   'symbol': 'sap',
                   'total': '115628.2274942175955843026713',
                   'transaction_code': 'buy'},
                  {'amount': 8901,
                   'date': datetime.datetime(1979, 1, 11, 0, 0),
                   'price': '16.159743422775360244258990860544145107269287109375',
                   'symbol': 'ibm',
                   'total': '143837.8762061234815341492776',
                   'transaction_code': 'buy'},
                  {'amount': 2588,
                   'date': datetime.datetime(2013, 1, 7, 0, 0),
                   'price': '14.43803234005940083761743153445422649383544921875',
                   'symbol': 'nflx',
                   'total': '37365.62769607372936775391281',
                   'transaction_code': 'buy'},
                  {'amount': 578,
                   'date': datetime.datetime(2003, 2, 19, 0, 0),
                   'price': '14.1196581565672598657101843855343759059906005859375',
                   'symbol': 'adbe',
                   'total': '8161.162414495876202380486575',
                   'transaction_code': 'sell'},
                  {'amount': 964,
                   'date': datetime.datetime(1982, 7, 22, 0, 0),
                   'price': '13.85120720985607789543792023323476314544677734375',
                   'symbol': 'ibm',
                   'total': '13352.56375030125909120215510',
                   'transaction_code': 'buy'},
                  {'amount': 3970,
                   'date': datetime.datetime(2016, 12, 8, 0, 0),
                   'price': '26.247716617401248839769323240034282207489013671875',
                   'symbol': 'team',
                   'total': '104203.4349710829578938842133',
                   'transaction_code': 'buy'},
                  {'amount': 6607,
                   'date': datetime.datetime(2015, 9, 3, 0, 0),
                   'price': '79.33405532799093862195149995386600494384765625',
                   'symbol': 'adbe',
                   'total': '524160.1035520361314752335602',
                   'transaction_code': 'buy'},
                  {'amount': 4221,
                   'date': datetime.datetime(2015, 12, 22, 0, 0),
                   'price': '30.4044667242776398552450700663030147552490234375',
                   'symbol': 'team',
                   'total': '128337.2540431759178289894407',
                   'transaction_code': 'sell'},
                  {'amount': 4799,
                   'date': datetime.datetime(2008, 8, 19, 0, 0),
                   'price': '43.96347030926532539751860895194113254547119140625',
                   'symbol': 'adbe',
                   'total': '210980.6940141642965826918044',
                   'transaction_code': 'buy'},
                  {'amount': 4657,
                   'date': datetime.datetime(1991, 5, 30, 0, 0),
                   'price': '1.1517732225800922929437319908174686133861541748046875',
                   'symbol': 'msft',
                   'total': '5363.807897555489808238959881',
                   'transaction_code': 'sell'},
                  {'amount': 6397,
                   'date': datetime.datetime(2014, 10, 6, 0, 0),
                   'price': '66.439073760834702397914952598512172698974609375',
                   'symbol': 'nflx',
                   'total': '425010.7548480595912394619518',
                   'transaction_code': 'buy'},
                  {'amount': 6352,
                   'date': datetime.datetime(2007, 7, 11, 0, 0),
                   'price': '90.5944805618852484485614695586264133453369140625',
                   'symbol': 'ibm',
                   'total': '575456.1405290950981452624546',
                   'transaction_code': 'buy'},
                  {'amount': 2800,
                   'date': datetime.datetime(2008, 2, 20, 0, 0),
                   'price': '3.790661287329261330825147524592466652393341064453125',
                   'symbol': 'nflx',
                   'total': '10613.85160452193172631041307',
                   'transaction_code': 'buy'},
                  {'amount': 1376,
                   'date': datetime.datetime(2016, 1, 4, 0, 0),
                   'price': '28.893855339485757127704346203245222568511962890625',
                   'symbol': 'team',
                   'total': '39757.94494713240180772118038',
                   'transaction_code': 'buy'},
                  {'amount': 3044,
                   'date': datetime.datetime(1989, 3, 16, 0, 0),
                   'price': '1.2795149853767535663706667037331499159336090087890625',
                   'symbol': 'adbe',
                   'total': '3894.843615486837856032309446',
                   'transaction_code': 'buy'},
                  {'amount': 7246,
                   'date': datetime.datetime(1998, 6, 30, 0, 0),
                   'price': '19.697308460376579120065798633731901645660400390625',
                   'symbol': 'msft',

[None]

### Get all the customer who has an active status and whose date of birth year is between 1995 and 1997

In [10]:
date_start = datetime(1995, 1, 1, 0, 0, 0, 0)
date_end = datetime(1997, 1, 1, 0, 0, 0, 0)

# Use the find() method to retrieve matching documents
matching_customers = customers.find({
    "birthdate": {
        "$gte": date_start,
        "$lte": date_end
    }
}).limit(5)

# Iterate and print the matching customers
for customer in matching_customers:
    pprint(customer)

{'_id': ObjectId('5ca4bbcea2dd94ee58162a6d'),
 'accounts': [904260, 565468],
 'address': '17677 Mark Crest\nWalterberg, IA 39017',
 'birthdate': datetime.datetime(1996, 9, 13, 17, 14, 27),
 'email': 'amyholland@yahoo.com',
 'name': 'Natalie Ford',
 'tier_and_details': {'07d516cfd7fc4ec6acf175bb78cb98a2': {'active': True,
                                                           'benefits': ['dedicated '
                                                                        'account '
                                                                        'representative'],
                                                           'id': '07d516cfd7fc4ec6acf175bb78cb98a2',
                                                           'tier': 'Gold'},
                      '69f8b6a3c39c42edb540499ee2651b75': {'active': True,
                                                           'benefits': ['dedicated '
                                                                        'account '
                                                                        'representative',
                                                                        'airline '
                                                                        'lounge '
                                                                        'access'],
                                                           'id': '69f8b6a3c39c42edb540499ee2651b75',
                                                           'tier': 'Bronze'},
                      'c85df12c2e394afb82725b16e1cc6789': {'active': True,
                                                           'benefits': ['airline '
                                                                        'lounge '
                                                                        'access'],
                                                           'id': 'c85df12c2e394afb82725b16e1cc6789',
                                                           'tier': 'Bronze'}},
 'username': 'gregoryharrison'}
{'_id': ObjectId('5ca4bbcea2dd94ee58162aa2'),
 'accounts': [261248, 598525, 333315, 278497],
 'address': 'USNS Jefferson\nFPO AA 96361',
 'birthdate': datetime.datetime(1995, 8, 11, 10, 46, 45),
 'email': 'atkinsontodd@hotmail.com',
 'name': 'Maria Alexander',
 'tier_and_details': {},
 'username': 'jenniferstephens'}
{'_id': ObjectId('5ca4bbcea2dd94ee58162ab9'),
 'accounts': [679236, 985280, 839760],
 'address': '12193 April Shore Apt. 519\nEast Tiffanyfurt, IL 93505',
 'birthdate': datetime.datetime(1995, 6, 1, 4, 23, 7),
 'email': 'snydermark@yahoo.com',
 'name': 'Cheryl Anderson',
 'tier_and_details': {},
 'username': 'timothyayers'}
{'_id': ObjectId('5ca4bbcea2dd94ee58162acd'),
 'accounts': [427384],
 'address': '212 Baxter Alley Apt. 827\nWest Juliaview, KY 74343',
 'birthdate': datetime.datetime(1995, 7, 1, 10, 40, 18),
 'email': 'whiteheadnicholas@hotmail.com',
 'name': 'Justin Miller',
 'tier_and_details': {},
 'username': 'smccall'}
{'_id': ObjectId('5ca4bbcea2dd94ee58162ad3'),
 'accounts': [907816],
 'address': '21760 Baldwin Lodge Suite 455\nJustinmouth, NE 08439',
 'birthdate': datetime.datetime(1996, 2, 23, 15, 35, 36),
 'email': 'brandon48@yahoo.com',
 'name': 'Dustin Peterson',
 'tier_and_details': {},
 'username': 'austinfisher'}

### Find all the unique products in the accounts collection
- Products is an array object in the accounts collection, there are multiple records, so we want to know how many unique products are there in this collection

In [11]:
pipeline = [
    
    {
        "$unwind": "$products"   #first unwind all the array into documents
    },
    {
        "$group": {
            "_id": "unique_products",
            "unique_products": {"$addToSet": "$products"}
        }
    },
    {
        "$project": {
            "_id": 0,
            "unique_products": 1
        }
    }
]
accounts_list = list(accounts.aggregate(pipeline))
print(accounts_list[0]["unique_products"])

['Brokerage', 'CurrencyService', 'Commodity', 'InvestmentStock', 'Derivatives', 'InvestmentFund']

### Find all transactions which has purchased scrips for adobe, microsoft and netflix

In [12]:
pipeline = [
     {
        '$match': {
            'account_id': 443178
        }
    },
    {
        '$unwind': '$transactions'
    },
    {
        '$group': {
            '_id': {
                'account_id': '$account_id',
                'symbol': '$transactions.symbol'
            },
            'total': {
              '$sum': {
                    '$toDouble': '$transactions.total'
                }          
            }           
        }
    },   
    {
        '$project': {
            '_id': 0,
            'account_id': '$_id',
            'total': 1
        }
    }
]
transactions_list = list(transactions.aggregate(pipeline))
pprint(transactions_list)

[{'account_id': {'account_id': 443178, 'symbol': 'sap'},
  'total': 3606044.0271663205},
 {'account_id': {'account_id': 443178, 'symbol': 'team'},
  'total': 1114640.280341524},
 {'account_id': {'account_id': 443178, 'symbol': 'ibm'},
  'total': 4369375.981492583},
 {'account_id': {'account_id': 443178, 'symbol': 'nflx'},
  'total': 2752792.0209153784},
 {'account_id': {'account_id': 443178, 'symbol': 'msft'},
  'total': 1014534.0243606936},
 {'account_id': {'account_id': 443178, 'symbol': 'adbe'},
  'total': 1642509.9994569893}]

### Filter the customer who has a account and the limit is less then 1000, in this we will use a lookup to join the accounts and customer collection 
- we will lookup accounts with customers based on account_id

In [13]:
pipeline = [
    {
        "$match": {
            "limit": { "$lte": 5000 } # hard coded value , but will be replaced with variable when using with flask
        }
    },   
    {
        "$lookup": {
            "from": "customers",  
            "localField": "account_id",  
            "foreignField": "accounts",  
            "as": "customer"  # alias for the joined data
        }
    },
    {
        "$unwind": "$customer"  
    },       
    {
        "$project": {           
            "name": "$customer.name", 
            "email": "$customer.email", 
            "address": "$customer.address",              
            "limit": 1,                     
             "_id":0,
        }
    },
    {
        "$sort": {
            "limit": 1  # ascending order
        }
    }
]

result = accounts.aggregate(pipeline)

# Iterate through the results
for document in result:
    pprint(document)

{'address': '153 Ramirez Mountains\nHardyfort, IA 16827',
 'email': 'shane95@yahoo.com',
 'limit': 3000,
 'name': 'Colleen Watson'}
{'address': '22879 Peterson Hill\nEast Maria, NJ 24417',
 'email': 'robertlloyd@hotmail.com',
 'limit': 3000,
 'name': 'Danielle Blevins'}
{'address': '42601 Marc Forks\nLake Stevenbury, NE 09808',
 'email': 'vchristensen@gmail.com',
 'limit': 5000,
 'name': 'Daniel Wang'}

### To Display on the front end, we will join three collections and show selected fields from all the three collections
#### We wil use the following fields
- customers
- accounts
- transactions

In [14]:
pipeline = [
    {
        "$lookup": {
            "from": "customers",
            "localField": "account_id",
            "foreignField": "accounts",
            "as": "customer"
        }
    },
    {
        "$unwind": "$customer"
    },
    {
        "$match": {
            "customer.name": "Colleen Watson",             
        }
    },
    {
        "$lookup": {
            "from": "transactions",
            "localField": "account_id",
            "foreignField": "account_id",
            "as": "transactions"
        }
    },
    {
        "$unwind" : "$transactions"
    },
    {
        "$project": {
            "_id": 0,
            "customerName": "$customer.name",
            "accountLimit": "$limit",   
            "bucket_end_date" : "$transactions.bucket_end_date",
            "bucket_start_date" : "$transactions.bucket_start_date",
            "transaction_count" : "$transactions.transaction_count"
        }
    }
]

result = accounts.aggregate(pipeline)

for document in result:
    print(document)

{'customerName': 'Colleen Watson', 'accountLimit': 10000, 'bucket_end_date': datetime.datetime(2017, 1, 4, 0, 0), 'bucket_start_date': datetime.datetime(1989, 1, 7, 0, 0), 'transaction_count': 45}
{'customerName': 'Colleen Watson', 'accountLimit': 10000, 'bucket_end_date': datetime.datetime(2017, 1, 9, 0, 0), 'bucket_start_date': datetime.datetime(1987, 9, 12, 0, 0), 'transaction_count': 99}
{'customerName': 'Colleen Watson', 'accountLimit': 10000, 'bucket_end_date': datetime.datetime(2016, 12, 31, 0, 0), 'bucket_start_date': datetime.datetime(1986, 5, 21, 0, 0), 'transaction_count': 89}
{'customerName': 'Colleen Watson', 'accountLimit': 3000, 'bucket_end_date': datetime.datetime(2007, 12, 19, 0, 0), 'bucket_start_date': datetime.datetime(2006, 4, 28, 0, 0), 'transaction_count': 1}
{'customerName': 'Colleen Watson', 'accountLimit': 10000, 'bucket_end_date': datetime.datetime(2017, 1, 3, 0, 0), 'bucket_start_date': datetime.datetime(1987, 11, 16, 0, 0), 'transaction_count': 82}
{'customerName': 'Colleen Watson', 'accountLimit': 10000, 'bucket_end_date': datetime.datetime(2016, 12, 21, 0, 0), 'bucket_start_date': datetime.datetime(2000, 2, 7, 0, 0), 'transaction_count': 25}

### CRUD operation to insert, update and delete new records into Customers collection

In [15]:
new_customer = {
         'accounts': [371138],
         'active': True,
         'address': 'ABC India Town, Bangalore, PIN 458585',
         'birthdate': datetime(1977, 3, 2, 2, 20, 31),
         'email': 'test@gmail.com',
         'name': 'Abby Roy',
         'tier_and_details': {'0df078f33aa74a2e9696e0520c1a828b': {'active': True,
                                                                   'benefits': ['sports '
                                                                                'tickets'],
                                                                   'id': '0dg078f33aa74a2e9696e0520c1a828a',
                                                                   'tier': 'Bronze'
                                                                  }
                              },
         'username': 'aroy'
    }
    
result = customers.insert_one(new_customer)
print(f"Generated Id for Inserted record is : {result.inserted_id}")

Generated Id for Inserted record is : 6512649f80332d8e49e479cc

### CRUD operation to update the customer collection for single record

In [16]:
filter_criteria = {"email": "test@gmail.com"} 

update_data = {"$set": {"name": "BBC Roy", "active": False}}

result = customers.update_one(filter_criteria, update_data)
print(result.modified_count)

search_result = customers.find({"email":"test@gmail.com"})

for document in search_result:
    print(document)

1
{'_id': ObjectId('6512649f80332d8e49e479cc'), 'accounts': [371138], 'active': False, 'address': 'ABC India Town, Bangalore, PIN 458585', 'birthdate': datetime.datetime(1977, 3, 2, 2, 20, 31), 'email': 'test@gmail.com', 'name': 'BBC Roy', 'tier_and_details': {'0df078f33aa74a2e9696e0520c1a828b': {'active': True, 'benefits': ['sports tickets'], 'id': '0dg078f33aa74a2e9696e0520c1a828a', 'tier': 'Bronze'}}, 'username': 'aroy'}

In [17]:
result = customers.delete_one({"email":"test@gmail.com"})
print(result.deleted_count)

1

### Filter by limit field in accounts using greater then clause

In [18]:
pipeline = [
   {
      "$lookup":{
         "from":"customers",
         "localField":"account_id",
         "foreignField":"accounts",
         "as":"customer"
      }
   },
   {
      "$unwind":"$customer"
   },
   {
      "$lookup":{
         "from":"transactions",
         "localField":"account_id",
         "foreignField":"account_id",
         "as":"transactions"
      }
   },
   {
      "$unwind":"$transactions"
   },   
   {
      "$match":{
         "limit":{
            "$gte": 1000
         }
      }
   },
   {
      "$limit":5
   },
   {
      "$project":{
         "_id":0,
         "name":"$customer.name",
         "email":"$customer.email",
         "userName":"$customer.username",
         "accountLimit":"$limit",
         "transactionCount":"$transactions.transaction_count"
      }
   }
]

result = accounts.aggregate(pipeline)

for document in result:
    print(document)

{'name': 'Colleen Watson', 'email': 'shane95@yahoo.com', 'userName': 'martinallen', 'accountLimit': 3000, 'transactionCount': 1}
{'name': 'Danielle Blevins', 'email': 'robertlloyd@hotmail.com', 'userName': 'tina17', 'accountLimit': 3000, 'transactionCount': 2}
{'name': 'Daniel Wang', 'email': 'vchristensen@gmail.com', 'userName': 'dianefoster', 'accountLimit': 5000, 'transactionCount': 1}
{'name': 'Wendy Lane', 'email': 'kristinmartinez@hotmail.com', 'userName': 'garymiller', 'accountLimit': 7000, 'transactionCount': 3}
{'name': 'Robert Hooper', 'email': 'stephenmassey@hotmail.com', 'userName': 'nicolesmith', 'accountLimit': 7000, 'transactionCount': 1}

### Search by username using find command and project the required fields

In [19]:
result = customers.find(
        {"username": 'fmiller'},
        {"_id": 0, "name": 1, "email": 1, "username": 1, "birthdate": 1})
for document in result:
    pprint(document)

{'birthdate': datetime.datetime(1977, 3, 2, 2, 20, 31),
 'email': 'arroyocolton@gmail.com',
 'name': 'Elizabeth Ray',
 'username': 'fmiller'}