### Install pre-requisite

In [1]:
!pip install pymongo

Requirement already satisfied: pymongo in c:\programdata\anaconda3\lib\site-packages (4.4.1)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in c:\programdata\anaconda3\lib\site-packages (from pymongo) (2.4.1)

### Demonstrate how to establish a connection between Pymongo and MongoDB.

In [2]:
from pymongo import MongoClient
client = MongoClient("mongodb://localhost:27017/")

#get the list of database from client object.
db_names = client.list_database_names()

# Print the list of database names
for db_name in db_names:
    print(db_name)

Education
Employee_db
admin
config
institute
local

### Create Employee Database (Pymongo)

In [3]:
# Create the "Employee" database
db = client["Employee_db"]

#get the list of database from client object.
db_names = client.list_database_names()

# Create the "employee_collection" collection
employee_collection = db["employee"]

# create sample data
employees_data = [
    {"name": "Fahad Fazil", "age": 30, "position": "Software Engineer", "salary": 60000},
    {"name": "Dulqar Salman", "age": 28, "position": "Data Scientist", "salary": 75000},
    {"name": "Jyothika", "age": 35, "position": "Product Manager", "salary": 90000},
    {"name": "Priya Mani ", "age": 32, "position": "UX Designer", "salary": 65000},
    {"name": "Manju Warrier", "age": 26, "position": "Frontend Developer", "salary": 55000},
    {"name": "Shobhana", "age": 29, "position": "Data Analyst", "salary": 70000},
    {"name": "Mohan Lal", "age": 31, "position": "CEO", "salary": 162000}
]

# Insert the employee data into the collection
result = employee_collection.insert_many(employees_data)

# confirm records saved correctly
print("Inserted document IDs:", result.inserted_ids)

Inserted document IDs: [ObjectId('64ca775e883379906ae6ff37'), ObjectId('64ca775e883379906ae6ff38'), ObjectId('64ca775e883379906ae6ff39'), ObjectId('64ca775e883379906ae6ff3a'), ObjectId('64ca775e883379906ae6ff3b'), ObjectId('64ca775e883379906ae6ff3c'), ObjectId('64ca775e883379906ae6ff3d')]

### Find all documents in the collection

In [4]:
all_documents = employee_collection.find()
for document in all_documents:
    print(document)

{'_id': ObjectId('64ca48f5aa217e0f4717c07e'), 'name': 'Fahad Fazil', 'age': 30, 'profession': 'Actor', 'earnings': 60000, 'rating': '9/10'}
{'_id': ObjectId('64ca48f5aa217e0f4717c07f'), 'name': 'Dulqar Salman', 'age': 28, 'position': 'Data Scientist', 'salary': 75000}
{'_id': ObjectId('64ca48f5aa217e0f4717c080'), 'name': 'Jyothika', 'age': 35, 'position': 'Product Manager', 'salary': 90000}
{'_id': ObjectId('64ca48f5aa217e0f4717c081'), 'name': 'Priya Mani ', 'age': 32, 'position': 'UX Designer', 'salary': 65000}
{'_id': ObjectId('64ca48f5aa217e0f4717c082'), 'name': 'Manju Warrier', 'age': 26, 'position': 'Frontend Developer', 'salary': 55000}
{'_id': ObjectId('64ca48f5aa217e0f4717c083'), 'name': 'Shobhana', 'age': 29, 'position': 'Data Analyst', 'salary': 70000}
{'_id': ObjectId('64ca48f5aa217e0f4717c084'), 'name': 'Mohan Lal', 'age': 31, 'position': 'CEO', 'salary': 162000}
{'_id': ObjectId('64ca775e883379906ae6ff37'), 'name': 'Fahad Fazil', 'age': 30, 'position': 'Software Engineer', 'salary': 60000}
{'_id': ObjectId('64ca775e883379906ae6ff38'), 'name': 'Dulqar Salman', 'age': 28, 'position': 'Data Scientist', 'salary': 75000}
{'_id': ObjectId('64ca775e883379906ae6ff39'), 'name': 'Jyothika', 'age': 35, 'position': 'Product Manager', 'salary': 90000}
{'_id': ObjectId('64ca775e883379906ae6ff3a'), 'name': 'Priya Mani ', 'age': 32, 'position': 'UX Designer', 'salary': 65000}
{'_id': ObjectId('64ca775e883379906ae6ff3b'), 'name': 'Manju Warrier', 'age': 26, 'position': 'Frontend Developer', 'salary': 55000}
{'_id': ObjectId('64ca775e883379906ae6ff3c'), 'name': 'Shobhana', 'age': 29, 'position': 'Data Analyst', 'salary': 70000}
{'_id': ObjectId('64ca775e883379906ae6ff3d'), 'name': 'Mohan Lal', 'age': 31, 'position': 'CEO', 'salary': 162000}

### Find one document with the condition.

#### Get employee whose name match with condition

In [5]:
# Find one document by name 
employee = employee_collection.find_one({"name": "Mohan Lal"})

# Print the result
print(employee)

{'_id': ObjectId('64ca48f5aa217e0f4717c084'), 'name': 'Mohan Lal', 'age': 31, 'position': 'CEO', 'salary': 162000}

#### get employees whose age is greater then 30

In [6]:
# Find one document by age 
employees = employee_collection.find({"age": {"$gt": 30}})

# Print the result
for employee in employees:
    print(employee)

{'_id': ObjectId('64ca48f5aa217e0f4717c080'), 'name': 'Jyothika', 'age': 35, 'position': 'Product Manager', 'salary': 90000}
{'_id': ObjectId('64ca48f5aa217e0f4717c081'), 'name': 'Priya Mani ', 'age': 32, 'position': 'UX Designer', 'salary': 65000}
{'_id': ObjectId('64ca48f5aa217e0f4717c084'), 'name': 'Mohan Lal', 'age': 31, 'position': 'CEO', 'salary': 162000}
{'_id': ObjectId('64ca775e883379906ae6ff39'), 'name': 'Jyothika', 'age': 35, 'position': 'Product Manager', 'salary': 90000}
{'_id': ObjectId('64ca775e883379906ae6ff3a'), 'name': 'Priya Mani ', 'age': 32, 'position': 'UX Designer', 'salary': 65000}
{'_id': ObjectId('64ca775e883379906ae6ff3d'), 'name': 'Mohan Lal', 'age': 31, 'position': 'CEO', 'salary': 162000}

### Display two Documents in the database using LIMIT Command.

In [7]:
#limit 2 document
documents_with_limit = employee_collection.find().limit(2)
#print all docs
for document in documents_with_limit:
    print(document)

{'_id': ObjectId('64ca48f5aa217e0f4717c07e'), 'name': 'Fahad Fazil', 'age': 30, 'profession': 'Actor', 'earnings': 60000, 'rating': '9/10'}
{'_id': ObjectId('64ca48f5aa217e0f4717c07f'), 'name': 'Dulqar Salman', 'age': 28, 'position': 'Data Scientist', 'salary': 75000}

### Display from the 5th document

In [8]:
#show document from 5th collection
documents_with_skip = employee_collection.find().skip(4)

#print all docs
for document in documents_with_skip:
    print(document)

{'_id': ObjectId('64ca48f5aa217e0f4717c082'), 'name': 'Manju Warrier', 'age': 26, 'position': 'Frontend Developer', 'salary': 55000}
{'_id': ObjectId('64ca48f5aa217e0f4717c083'), 'name': 'Shobhana', 'age': 29, 'position': 'Data Analyst', 'salary': 70000}
{'_id': ObjectId('64ca48f5aa217e0f4717c084'), 'name': 'Mohan Lal', 'age': 31, 'position': 'CEO', 'salary': 162000}
{'_id': ObjectId('64ca775e883379906ae6ff37'), 'name': 'Fahad Fazil', 'age': 30, 'position': 'Software Engineer', 'salary': 60000}
{'_id': ObjectId('64ca775e883379906ae6ff38'), 'name': 'Dulqar Salman', 'age': 28, 'position': 'Data Scientist', 'salary': 75000}
{'_id': ObjectId('64ca775e883379906ae6ff39'), 'name': 'Jyothika', 'age': 35, 'position': 'Product Manager', 'salary': 90000}
{'_id': ObjectId('64ca775e883379906ae6ff3a'), 'name': 'Priya Mani ', 'age': 32, 'position': 'UX Designer', 'salary': 65000}
{'_id': ObjectId('64ca775e883379906ae6ff3b'), 'name': 'Manju Warrier', 'age': 26, 'position': 'Frontend Developer', 'salary': 55000}
{'_id': ObjectId('64ca775e883379906ae6ff3c'), 'name': 'Shobhana', 'age': 29, 'position': 'Data Analyst', 'salary': 70000}
{'_id': ObjectId('64ca775e883379906ae6ff3d'), 'name': 'Mohan Lal', 'age': 31, 'position': 'CEO', 'salary': 162000}

### Sort the documents in Ascending order based on one of the fields.

In [9]:
#sort the document in the collection
documents_with_sort = employee_collection.find().sort("age", 1) # sort by age field in ascending order

#print all docs
for document in documents_with_sort:
    print(document)

{'_id': ObjectId('64ca48f5aa217e0f4717c082'), 'name': 'Manju Warrier', 'age': 26, 'position': 'Frontend Developer', 'salary': 55000}
{'_id': ObjectId('64ca775e883379906ae6ff3b'), 'name': 'Manju Warrier', 'age': 26, 'position': 'Frontend Developer', 'salary': 55000}
{'_id': ObjectId('64ca48f5aa217e0f4717c07f'), 'name': 'Dulqar Salman', 'age': 28, 'position': 'Data Scientist', 'salary': 75000}
{'_id': ObjectId('64ca775e883379906ae6ff38'), 'name': 'Dulqar Salman', 'age': 28, 'position': 'Data Scientist', 'salary': 75000}
{'_id': ObjectId('64ca48f5aa217e0f4717c083'), 'name': 'Shobhana', 'age': 29, 'position': 'Data Analyst', 'salary': 70000}
{'_id': ObjectId('64ca775e883379906ae6ff3c'), 'name': 'Shobhana', 'age': 29, 'position': 'Data Analyst', 'salary': 70000}
{'_id': ObjectId('64ca48f5aa217e0f4717c07e'), 'name': 'Fahad Fazil', 'age': 30, 'profession': 'Actor', 'earnings': 60000, 'rating': '9/10'}
{'_id': ObjectId('64ca775e883379906ae6ff37'), 'name': 'Fahad Fazil', 'age': 30, 'position': 'Software Engineer', 'salary': 60000}
{'_id': ObjectId('64ca48f5aa217e0f4717c084'), 'name': 'Mohan Lal', 'age': 31, 'position': 'CEO', 'salary': 162000}
{'_id': ObjectId('64ca775e883379906ae6ff3d'), 'name': 'Mohan Lal', 'age': 31, 'position': 'CEO', 'salary': 162000}
{'_id': ObjectId('64ca48f5aa217e0f4717c081'), 'name': 'Priya Mani ', 'age': 32, 'position': 'UX Designer', 'salary': 65000}
{'_id': ObjectId('64ca775e883379906ae6ff3a'), 'name': 'Priya Mani ', 'age': 32, 'position': 'UX Designer', 'salary': 65000}
{'_id': ObjectId('64ca48f5aa217e0f4717c080'), 'name': 'Jyothika', 'age': 35, 'position': 'Product Manager', 'salary': 90000}
{'_id': ObjectId('64ca775e883379906ae6ff39'), 'name': 'Jyothika', 'age': 35, 'position': 'Product Manager', 'salary': 90000}

### Display find with condition (where)

In [10]:
#find document with where
documents_with_where = employee_collection.find({"$where" : "this.salary >= 90000"})

#print all docs
for document in documents_with_where:
    print(document)

{'_id': ObjectId('64ca48f5aa217e0f4717c080'), 'name': 'Jyothika', 'age': 35, 'position': 'Product Manager', 'salary': 90000}
{'_id': ObjectId('64ca48f5aa217e0f4717c084'), 'name': 'Mohan Lal', 'age': 31, 'position': 'CEO', 'salary': 162000}
{'_id': ObjectId('64ca775e883379906ae6ff39'), 'name': 'Jyothika', 'age': 35, 'position': 'Product Manager', 'salary': 90000}
{'_id': ObjectId('64ca775e883379906ae6ff3d'), 'name': 'Mohan Lal', 'age': 31, 'position': 'CEO', 'salary': 162000}

### Replace a document with a different schema document

In [11]:
#change the schema for one document
actor_data = {"name": "Fahad Fazil", "age": 30, "profession": "Actor", "earnings": 60000, "rating":"9/10"}

#find document that match Fahad and update that with replace_one
documents_to_replace = employee_collection.replace_one({"name" : "Fahad Fazil"},actor_data)
    

#print outputs
print("Number of document replaced : ",  documents_to_replace.modified_count)

document = employee_collection.find_one({"name":"Fahad Fazil"})
print(document)

Number of document replaced :  1
{'_id': ObjectId('64ca48f5aa217e0f4717c07e'), 'name': 'Fahad Fazil', 'age': 30, 'profession': 'Actor', 'earnings': 60000, 'rating': '9/10'}

### Demonstrate OR condition, AND condition, Conditional operators such as lt,lte;  in operator, all operator, EXISTS operator-checks whether the field has a value

In [12]:
#use OR condition
documents_with_or = employee_collection.find({"$or" : [{"name":"Dulqar Salman"},{"name":"Jyothika"}]})

#print all docs
for document in documents_with_or:
    print(document)

{'_id': ObjectId('64ca48f5aa217e0f4717c07f'), 'name': 'Dulqar Salman', 'age': 28, 'position': 'Data Scientist', 'salary': 75000}
{'_id': ObjectId('64ca48f5aa217e0f4717c080'), 'name': 'Jyothika', 'age': 35, 'position': 'Product Manager', 'salary': 90000}
{'_id': ObjectId('64ca775e883379906ae6ff38'), 'name': 'Dulqar Salman', 'age': 28, 'position': 'Data Scientist', 'salary': 75000}
{'_id': ObjectId('64ca775e883379906ae6ff39'), 'name': 'Jyothika', 'age': 35, 'position': 'Product Manager', 'salary': 90000}

In [13]:
#use And Condition
documents_with_and = employee_collection.find({"$and" : [{"age":{"$gt":30}},{"salary":{"$gt":70000}}]})

#print all docs
for document in documents_with_and:
    print(document)

{'_id': ObjectId('64ca48f5aa217e0f4717c080'), 'name': 'Jyothika', 'age': 35, 'position': 'Product Manager', 'salary': 90000}
{'_id': ObjectId('64ca48f5aa217e0f4717c084'), 'name': 'Mohan Lal', 'age': 31, 'position': 'CEO', 'salary': 162000}
{'_id': ObjectId('64ca775e883379906ae6ff39'), 'name': 'Jyothika', 'age': 35, 'position': 'Product Manager', 'salary': 90000}
{'_id': ObjectId('64ca775e883379906ae6ff3d'), 'name': 'Mohan Lal', 'age': 31, 'position': 'CEO', 'salary': 162000}

In [14]:
#use lte condition
documents_with_lte = employee_collection.find({"salary":{"$lte":55000}})

#print all docs
for document in documents_with_lte:
    print(document)

{'_id': ObjectId('64ca48f5aa217e0f4717c082'), 'name': 'Manju Warrier', 'age': 26, 'position': 'Frontend Developer', 'salary': 55000}
{'_id': ObjectId('64ca775e883379906ae6ff3b'), 'name': 'Manju Warrier', 'age': 26, 'position': 'Frontend Developer', 'salary': 55000}

In [15]:
#use in operator
documents_with_in = employee_collection.find({"name":{"$in":["Mohan Lal","Manju Warrier"]}})

#print all docs
for document in documents_with_in:
    print(document)

{'_id': ObjectId('64ca48f5aa217e0f4717c082'), 'name': 'Manju Warrier', 'age': 26, 'position': 'Frontend Developer', 'salary': 55000}
{'_id': ObjectId('64ca48f5aa217e0f4717c084'), 'name': 'Mohan Lal', 'age': 31, 'position': 'CEO', 'salary': 162000}
{'_id': ObjectId('64ca775e883379906ae6ff3b'), 'name': 'Manju Warrier', 'age': 26, 'position': 'Frontend Developer', 'salary': 55000}
{'_id': ObjectId('64ca775e883379906ae6ff3d'), 'name': 'Mohan Lal', 'age': 31, 'position': 'CEO', 'salary': 162000}

In [16]:
#use exists operator
documents_with_exists = employee_collection.find({"earnings":{"$exists":True}})

#print all docs
for document in documents_with_exists:
    print(document)

{'_id': ObjectId('64ca48f5aa217e0f4717c07e'), 'name': 'Fahad Fazil', 'age': 30, 'profession': 'Actor', 'earnings': 60000, 'rating': '9/10'}